.window, .editor, .tag {
	background-color: #fbfbfb;
	font-family: "DejavuSans";
	color: #000000;
	font-size: 0.9em;
}

.window {
}

.tag {
	border: 0;
	background-color: #f7f7f7;
	background-image: none;
}

.tag:selected {
	background-color: #efefef;
	color: #000000;
}

.editor:selected {
	background-color: #efefef;
	color: #000000;
}

.scrollbar,
.scrollbar.vertical {
    -GtkScrollbar-has-backward-stepper: 0px;
    -GtkScrollbar-has-forward-stepper: 0px;
    -GtkRange-slider-width: 8px;
    border-image: none;
}

.scrollbar.trough,
.scrollbar.trough.vertical {
    background-color: #E0E0E0;
    border-color: shade(#E0E0E0, 0.9);
}

.scrollbar.slider,
.scrollbar.slider:hover,
.scrollbar.button,
.scrollbar.slider.vertical,
.scrollbar.slider.vertical:hover,
.scrollbar.button.vertical {
	background-color: #F0F0F0;
	border-color: shade(#E0E0E0, 0.9);
	border-width: 1px;
	border-radius: 0;
}
